In [1]:
from collections import Counter, defaultdict
from itertools import chain, combinations

import pandas as pd

In [2]:
# Создаем DataFrame, записав в него данные из CSV файла
data = pd.read_csv('data.csv')

In [3]:
data.head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB

In [5]:
data.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year
count,1890.000000,1.890000e+03,1.890000e+03,1890.000000,1890.000000,1890.000000,1890.000000
mean,1.560611,5.450696e+07,1.552890e+08,109.653439,785.666667,6.140899,2007.861905
std,1.849471,4.931705e+07,2.146386e+08,18.013641,1068.725880,0.764584,4.467929
min,0.010335,5.000000e+06,2.033165e+06,63.000000,10.000000,3.300000,2000.000000
25%,0.643284,2.000000e+07,3.434007e+07,97.000000,164.000000,5.600000,2004.000000
50%,1.065065,3.800000e+07,8.358664e+07,106.500000,389.000000,6.100000,2008.000000
75%,1.804537,7.200000e+07,1.782136e+08,120.000000,937.750000,6.600000,2012.000000
max,32.985763,4.250000e+08,2.781506e+09,214.000000,9767.000000,8.100000,2015.000000

In [6]:
data.describe(include=['O'])

,imdb_id,original_title,cast,director,tagline,overview,genres,production_companies,release_date
count,1890,1890,1890,1890,1890,1890,1890,1890,1890
unique,1890,1888,1879,958,1881,1890,653,1625,1435
top,tt1448755,Fantastic Four,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Steven Soderbergh,Based on the Best Selling Novel,In the middle of this amusing thriller is a re...,Comedy,New Line Cinema,12/25/2014
freq,1,2,3,13,2,1,141,21,7

# Предобработка данных

In [7]:
answer_ls = [] # создаем список с ответами. сюда будем добавлять ответы по мере прохождения теста

# Создаем колонку прибыли
data['profit'] = data['revenue'] - data['budget']

# Проверяем, во всех ли строках датафрейма дата соответствует формату '\d+/\d+/\d+'
if data['release_date'].str.match('\d+/\d+/\d+').sum() == len(data):
    print('Формат даты соответствует "\d+/\d+/\d+" для всех строк датафрейма')
    
# Создаем колонку месяца выхода фильма
data['release_month'] = data['release_date'].apply(lambda x: int(x.split('/')[0]))

Формат даты соответствует "\d+/\d+/\d+" для всех строк датафрейма

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [8]:
answer_ls.append(4)
data.nlargest(1, 'budget')

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431,12

# 2. Какой из фильмов самый длительный (в минутах)?
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [9]:
answer_ls.append(2)
data.nlargest(1, 'runtime')

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [10]:
answer_ls.append(3)
data.nsmallest(1, 'runtime')

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011,-15540000,4

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [11]:
answer_ls.append(2)
data['runtime'].mean()

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [12]:
answer_ls.append(1)
data['runtime'].median()

106.5

# 6. Самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [13]:
answer_ls.append(5)
data.nlargest(1, 'profit')

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847,12

# 7. Самый убыточный фильм?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [14]:
answer_ls.append(2)
data.nsmallest(1, 'profit')

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431,12

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [15]:
answer_ls.append(1)
(data['profit'] > 0).sum()

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [16]:
answer_ls.append(4)

# Ищем самый кассовый фильм в 2008 году
data[data['release_year'] == 2008].nlargest(1, 'revenue')

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [17]:
answer_ls.append(5)
data[data['release_year'].isin(range(2012, 2015))].nsmallest(1, 'profit')

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [18]:
answer_ls.append(3)
Counter(chain.from_iterable(data['genres'].str.split('|'))).most_common(5)

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 597),
 ('Action', 583),
 ('Adventure', 416)]

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [19]:
answer_ls.append(1)
Counter(chain.from_iterable(data.loc[data['profit'] > 0, 'genres'].str.split('|'))).most_common(5)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337)]

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [20]:
answer_ls.append(3)
Counter(chain.from_iterable(data['director'].str.split('|'))).most_common(5)

[('Steven Soderbergh', 13),
 ('Ridley Scott', 12),
 ('Clint Eastwood', 12),
 ('Robert Rodriguez', 11),
 ('Steven Spielberg', 10)]

# 14. Кто из режиссеров снял больше всего прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [21]:
answer_ls.append(4)
Counter(chain.from_iterable(data.loc[data['profit'] > 0, 'director'].str.split('|'))).most_common(5)

[('Ridley Scott', 12),
 ('Steven Spielberg', 10),
 ('Clint Eastwood', 10),
 ('Steven Soderbergh', 10),
 ('Shawn Levy', 9)]

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [22]:
answer_ls.append(5)

# Вычисляем словарь с именами режиссеров в виде ключей и прибыли в виде значений
d = defaultdict(int)
for i, director_list in enumerate(data['director'].str.split('|')):
    for director in director_list:
        d[director] += data.at[i, 'profit']

# Преобразуем словарь в Series и выводим топ
pd.Series(d).nlargest(5)

Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [23]:
answer_ls.append(1)

# Вычисляем словарь с именами актеров в виде ключей и прибыли в виде значений
d = defaultdict(int)
for i, actor_list in enumerate(data['cast'].str.split('|')):
    for actor in actor_list:
        d[actor] += data.at[i, 'profit']
        
# Преобразуем словарь в Series и выводим топ
pd.Series(d).nlargest(5)

Emma Watson          6666245597
Daniel Radcliffe     6514990281
Rupert Grint         6408638290
Ian McKellen         6087375777
Robert Downey Jr.    5316030161
dtype: int64

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [24]:
answer_ls.append(3)

# Вычисляем DataFrame по фильтру для дальнейших расчетов
df = data.loc[data['release_year'] == 2012, ['cast', 'profit']]

# Вычисляем словарь с именами актеров в виде ключей и прибыли в виде значений
d = defaultdict(int)
for i, actor_list in enumerate(df['cast'].str.split('|')):
    for actor in actor_list:
        d[actor] += df['profit'].iat[i]
        
# Преобразуем словарь в Series и выводим топ с конца
pd.Series(d).nsmallest(5)

Kirsten Dunst    -68109207
Timothy Spall    -51893525
James Kidnie     -51893525
Heidi Hawkins    -51893525
Malin Ã…kerman   -43733509
dtype: int64

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [25]:
answer_ls.append(3)
Counter(chain.from_iterable(data.loc[data['budget'] > data['budget'].mean(), 'cast']
    .str.split('|'))).most_common(5)

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [26]:
answer_ls.append(2)
Counter(chain.from_iterable(data.loc[data['cast'].str.contains('Nicolas Cage'), 'genres']
    .str.split('|'))).most_common(5)

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8)]

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [27]:
answer_ls.append(1)

# Найдем количество фильмов каждой кинокомпании
counter = Counter(chain.from_iterable(data['production_companies'].str.split('|')))

# Учтем, что компании из списка ответов могли переименовываться за свою историю
pd.Series({
    'Universal Pictures (Universal)':
        counter['Universal Pictures']
        + counter['Universal Studios']
        + counter['Universal'],
    'Paramount Pictures': counter['Paramount Pictures'],
    'Columbia Pictures': counter['Columbia Pictures'],
    'Warner Bros.':
        counter['Warner Bros.']
        + counter['Warner Bros. Pictures'],
    'Twentieth Century Fox Film Corporation':
        counter['Twentieth Century Fox Film Corporation']
        + counter['20th Century Fox'],
    }).sort_values(ascending=False)

Universal Pictures (Universal)            182
Warner Bros.                              181
Twentieth Century Fox Film Corporation    126
Paramount Pictures                        122
Columbia Pictures                         117
dtype: int64

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [28]:
answer_ls.append(4)

# Найдем количество фильмов 2015 года для каждой кинокомпании
counter = Counter(chain.from_iterable(data.loc[data['release_year'] == 2015,
    'production_companies'].str.split('|')))

# Учтем, что компании из списка ответов могли переименовываться за свою историю
pd.Series({
    'Universal Pictures (Universal)':
        counter['Universal Pictures']
        + counter['Universal Studios']
        + counter['Universal'],
    'Paramount Pictures': counter['Paramount Pictures'],
    'Columbia Pictures': counter['Columbia Pictures'],
    'Warner Bros.':
        counter['Warner Bros.']
        + counter['Warner Bros. Pictures'],
    'Twentieth Century Fox Film Corporation':
        counter['Twentieth Century Fox Film Corporation']
        + counter['20th Century Fox'],
    }).sort_values(ascending=False)

Warner Bros.                              12
Universal Pictures (Universal)            11
Twentieth Century Fox Film Corporation     8
Columbia Pictures                          7
Paramount Pictures                         7
dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [29]:
answer_ls.append(2)

# Вычисляем DataFrame по фильтру для дальнейших расчетов
df = data.loc[data['genres'].str.contains('Comedy'), ['production_companies', 'profit']]

# Вычисляем словарь с названиями кинокомпаний в виде ключей и прибыли в виде значений
d = defaultdict(int)
for i, company_list in enumerate(df['production_companies'].str.split('|')):
    for company in company_list:
        d[company] += df['profit'].iat[i]
        
# Учтем, что компании из списка ответов могли переименовываться за свою историю
pd.Series({
    'Universal Pictures (Universal)':
        d['Universal Pictures']
        + d['Universal Studios']
        + d['Universal'],
    'Paramount Pictures': d['Paramount Pictures'],
    'Columbia Pictures': d['Columbia Pictures'],
    'Warner Bros.':
        d['Warner Bros.']
        + d['Warner Bros. Pictures'],
    'Walt Disney':
        d['Walt Disney Pictures'],
    }).sort_values(ascending=False)

# Код для получения информации по компаниям:
# pd.Series(Counter(chain.from_iterable(data['production_companies'].str.split('|')))).sort_values(ascending=False).head(10)
# pd.Series(Counter(chain.from_iterable(data['production_companies'].str.split('|')))).sort_index().head(100)
# print(*sorted(set(chain.from_iterable(data['production_companies'].str.split('|')))), sep='\n')

Universal Pictures (Universal)    9083535657
Walt Disney                       7669710326
Columbia Pictures                 5646343696
Warner Bros.                      3840184083
Paramount Pictures                3055625722
dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [30]:
answer_ls.append(3)

# Вычисляем DataFrame по фильтру для дальнейших расчетов
df = data.loc[data['release_year'] == 2012, ['production_companies', 'profit']]

# Вычисляем словарь с названиями кинокомпаний в виде ключей и прибыли в виде значений
d = defaultdict(int)
for i, company_list in enumerate(df['production_companies'].str.split('|')):
    for company in company_list:
        d[company] += df['profit'].iat[i]
        
# Учтем, что компании из списка ответов могли переименовываться за свою историю
pd.Series({
    'Universal Pictures (Universal)':
        d['Universal Pictures']
        + d['Universal Studios']
        + d['Universal'],
    'Paramount Pictures': d['Paramount Pictures'],
    'Columbia Pictures': d['Columbia Pictures'],
    'Warner Bros.':
        d['Warner Bros.']
        + d['Warner Bros. Pictures'],
    'Lucasfilm':
        d['Lucasfilm']
        + d['Lucasfilm Ltd.'],
    }).sort_values(ascending=False)

# Код для получения информации по компаниям:
# pd.Series(Counter(chain.from_iterable(data['production_companies'].str.split('|')))).sort_values(ascending=False).head(10)
# pd.Series(Counter(chain.from_iterable(data['production_companies'].str.split('|')))).sort_index().head(100)
# print(*sorted(set(chain.from_iterable(data['production_companies'].str.split('|')))), sep='\n')

Columbia Pictures                 2501406608
Universal Pictures (Universal)    1981011579
Warner Bros.                      1258020056
Paramount Pictures                 410726715
Lucasfilm                           -7634623
dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [31]:
answer_ls.append(1)
data[data['production_companies'].str.contains('(?:^|\|)Paramount Pictures(?:$|\|)')] \
    .nsmallest(1, 'profit')

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034,7

# 25. Какой самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [32]:
answer_ls.append(5)
data.groupby(['release_year'])['profit'].sum().nlargest(5)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
Name: profit, dtype: int64

# 26. Какой самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [33]:
answer_ls.append(1)
data[data['production_companies'].str.contains('Warner Bros')] \
    .groupby(['release_year'])['profit'].sum().nlargest(5)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [34]:
answer_ls.append(4)
data['release_month'].value_counts()

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [35]:
answer_ls.append(2)
data['release_month'].value_counts(sort=False).loc[6:8].sum()

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [36]:
answer_ls.append(5)
Counter(chain.from_iterable(data.loc[data['release_month'].isin([1,2,12]), 'director']
    .str.split('|'))).most_common(5)

[('Peter Jackson', 7),
 ('Clint Eastwood', 6),
 ('Steven Soderbergh', 6),
 ('Shawn Levy', 4),
 ('Nancy Meyers', 4)]

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

### Решение 1

In [37]:
answer_ls.append(2)
data.groupby(['release_year', 'release_month'])['profit'].sum().groupby('release_year') \
    .nlargest(1).reset_index('release_month')['release_month'].value_counts()

6     7
12    4
5     4
7     1
Name: release_month, dtype: int64

### Решение 2

In [38]:
# Вычисляем суммарную прибыль по годам и месяцам
df = data.groupby(['release_year', 'release_month'])['profit'].sum()

# Вычисляем словарь d_month с номерами самых прибыльных месяцев по годам
d_profit = defaultdict(int)
d_month = defaultdict(int)
for year, month in df.index:
    if d_profit[year] < df[year][month]:
        d_profit[year] = df[year][month]
        d_month[year] = month
        
# Преобразуем словарь d_month в Series и находим номера самых часто встречающихся месяцев
pd.Series(d_month).value_counts()

6     7
12    4
5     4
7     1
dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [39]:
answer_ls.append(5)

# Создаем дополнительный столбец данных с длиной названия фильма в символах
df = data.loc[:, ['production_companies', 'original_title']]
df['length'] = df['original_title'].apply(lambda x: len(x))
df.columns = ['company', 'title', 'length']

# Вычисляем сумму длин названий фильмов и количество фильмов для всех компаний
d = defaultdict(list)
for i, company_list in enumerate(df['company'].str.split('|')):
    for company in company_list:
        if d[company] == []:
            d[company].append(0)
            d[company].append(0)
        d[company][0] += df['length'].iat[i]
        d[company][1] += 1

# Создаем датафрейм из словаря
df = pd.DataFrame.from_dict(d, orient='index', columns=['length_sum', 'films_num'])

# Создаем столбец со средней длиной названий фильмов
df['length_average'] = df['length_sum'] / df['films_num']

# Сортируем и представляем результат
df.nlargest(5, ['length_average', 'films_num'])

                           length_sum  films_num  length_average
Four By Two Productions            83          1            83.0
Jim Henson Company, The            59          1            59.0
Dos Corazones                      47          1            47.0
Museum Canada Productions          46          1            46.0
Polsky Films                       46          1            46.0

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [40]:
answer_ls.append(5)

"""Воспользуемся знаниями из предыдущего задания.
Так как у компании "Four By Two Productions" только один фильм,
который ялвяется самым длинным по количеству символов, то, вероятно,
он же будет и самым длинным по количеству слов.
"""

# Создаем дополнительный столбец данных с длиной названия фильма в словах
df = data.loc[:, ['production_companies', 'original_title']]
df['w_length'] = df['original_title'].apply(lambda x: len(x.split()))

# Выводим топ самых длинных по словам фильмов
df.nlargest(5, 'w_length')

,production_companies,original_title,w_length
1449,Twentieth Century Fox Film Corporation|Four By...,Borat: Cultural Learnings of America for Make ...,12
1315,Walt Disney|Walden Media,"The Chronicles of Narnia: The Lion, the Witch ...",11
219,Walt Disney Pictures|21 Laps Entertainment|Jim...,"Alexander and the Terrible, Horrible, No Good,...",10
385,Dune Entertainment|Fox 2000 Pictures|Walden Media,The Chronicles of Narnia: The Voyage of the Da...,10
466,Village Roadshow Pictures,Cats & Dogs 2 : The Revenge of Kitty Galore,10

# 33. Сколько разных слов используется в названиях фильмов? (без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [41]:
answer_ls.append(3)
len(set(chain.from_iterable(data['original_title'].str.lower().str.split())))

# С помощью строки кода ниже, можно посмотреть и убедиться,
# что вклад численных строк - несущественен в общем количестве уникальных слов
# print(*sorted(set(chain.from_iterable(data['original_title'].str.lower().str.split()))), sep='\n')

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [42]:
answer_ls.append(1)

# Оставляем только топ 14 фильмов, так как ниже идут фильмы с рейтингом 7.8,
# который выходит за 1 %
data[['original_title','vote_average']].nlargest(14, 'vote_average')

                                     original_title  vote_average
600                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
873                                     The Pianist           7.9
1082  The Lord of the Rings: The Return of the King           7.9
1184                        The Wolf of Wall Street           7.9
1192                               12 Years a Slave           7.9
1801                                        Memento           7.9

# 35. Какие актеры чаще всего снимаются в одном фильме вместе?
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

### Решение 1

In [43]:
answer_ls.append(5)
Counter(chain.from_iterable(data['cast'].apply(lambda x: [tuple(sorted(comb))
    for comb in combinations(x.split('|'), 2)]))).most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

### Решение 2

In [44]:
# Вычисляем количество фильмов для всех пар актеров.
# Каждая пара представлена двумя элементами словаря,
# в зависимости от очередности актеров в паре.
d = defaultdict(int)
for actor_list in data['cast'].str.split('|'):
    i = 0
    length = len(actor_list)
    while i < length - 1:
        for j in range(i + 1, length):
            d[actor_list[i]+' & '+actor_list[j]] += 1
            d[actor_list[j]+' & '+actor_list[i]] += 1
        i += 1

# Создаем Series из словаря и выводим топ
pd.Series(d).nlargest(10)

Daniel Radcliffe & Rupert Grint       8
Rupert Grint & Daniel Radcliffe       8
Daniel Radcliffe & Emma Watson        8
Emma Watson & Daniel Radcliffe        8
Rupert Grint & Emma Watson            8
Emma Watson & Rupert Grint            8
Ben Stiller & Owen Wilson             6
Owen Wilson & Ben Stiller             6
Johnny Depp & Helena Bonham Carter    6
Helena Bonham Carter & Johnny Depp    6
dtype: int64

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли?
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

### Решение 1

In [45]:
answer_ls.append(4)

# Находим датафреймы для общего количества фильмов и успешных фильмов для директоров
all_ = pd.DataFrame.from_dict(Counter(chain.from_iterable(data['director'].str.split('|'))),
    orient='index', columns=['all'])
success = pd.DataFrame.from_dict(Counter(chain.from_iterable(data.loc[data['profit'] > 0,
    'director'].str.split('|'))), orient='index', columns=['success'])

# Объединяем датафреймы
df = all_.join(success)

# Считаем отношение успешных фильмов
df['success_rate'] = round(df['success'] / df['all'], 3) * 100

# Сортируем и выводим результат
display(df.sort_values(['success_rate', 'all'], ascending=False).head())

# Так как режиссеров со стопроцентным соотношением прибыльных фильмов много,
# то ищем лучшего из списка ответов
df.loc[[
    'Quentin Tarantino',
    'Steven Soderbergh',
    'Robert Rodriguez',
    'Christopher Nolan',
    'Clint Eastwood',
    ]].sort_values('success_rate', ascending=False)

                   all  success  success_rate
Ridley Scott        12     12.0         100.0
Steven Spielberg    10     10.0         100.0
Tim Burton           9      9.0         100.0
Antoine Fuqua        8      8.0         100.0
Christopher Nolan    8      8.0         100.0

                   all  success  success_rate
Christopher Nolan    8      8.0         100.0
Quentin Tarantino    7      6.0          85.7
Clint Eastwood      12     10.0          83.3
Steven Soderbergh   13     10.0          76.9
Robert Rodriguez    11      8.0          72.7

### Решение 2

In [46]:
# Подсчитываем количество прибыльных и неприбыльных фильмов для каждого режиссера
d = defaultdict(list)
for i, director_list in enumerate(data['director'].str.split('|')):
    for director in director_list:
        if d[director] == []:
            d[director].append(0)
            d[director].append(0)
        if data['profit'].iat[i] > 0:
            d[director][0] += 1
        else:
            d[director][1] += 1
            
# Создаем датафрейм из словаря
df = pd.DataFrame.from_dict(d, orient='index', columns=['success', 'non_success'])

# Рассчитываем и добавляем в датафрейм столбец с общим количеством фильмов
# и столбец с процентным соотношением прибыльных фильмов
df['all'] = df['success'] + df['non_success']
df['success_rate'] = round(df['success'] / df['all'], 3) * 100

# Так как режиссеров со стопроцентным соотношением прибыльных фильмов много,
# то ищем лучшего из списка ответов
df.loc[[
    'Quentin Tarantino',
    'Steven Soderbergh',
    'Robert Rodriguez',
    'Christopher Nolan',
    'Clint Eastwood',
    ]].sort_values('success_rate', ascending=False)

                   success  non_success  all  success_rate
Christopher Nolan        8            0    8         100.0
Quentin Tarantino        6            1    7          85.7
Clint Eastwood          10            2   12          83.3
Steven Soderbergh       10            3   13          76.9
Robert Rodriguez         8            3   11          72.7

# Submission

In [47]:
len(answer_ls)

36

In [48]:
df = pd.DataFrame({'Id': range(1, len(answer_ls)+1), 'Answer': answer_ls}, columns=['Id', 'Answer'])
df.set_index('Id')

    Answer
Id
1        4
2        2
3        3
4        2
5        1
6        5
7        2
8        1
9        4
10       5
11       3
12       1
13       3
14       4
15       5
16       1
17       3
18       3
19       2
20       1
21       4
22       2
23       3
24       1
25       5
26       1
27       4
28       2
29       5
30       2
31       5
32       5
33       3
34       1
35       5
36       4